{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'signn.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" />
        <title>SIGNUP-PAGE</title>
   </head>
<body>
    <div class="wrapper">
        <h2>SIGNN</h2><br>

        {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{message}}</p>
        {% endfor %}
        {% endif %}

        <form action="#" method="POST">
        {% csrf_token %}
        <div class="input-box">
            <input type="text" placeholder="Create a username" required name="fnm">
        </div>
        <div class="input-box">
            <input type="email" placeholder="Enter your email" required name="emailid">
        </div>
        <div class="input-box">
            <input type="password" placeholder="Enter your password" required name="pwd">
        </div>
        <div class="policy">
        </div>
        <div class="input-box button">
            <input type="Submit" value="Register">
        </div>
        <div class="text">
            <h3>Already have an account? <a href="loginn/"> Loginn </a></h3>
        </div>
        </form>
    </div>
</body>