{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="{% static 'css/todopath.css' %}">
  <title>Todo List</title>
</head>

<body>

  <div class="container">
    
    <header>
      <h1>Todo List</h1>

        {% if messages %}
          {% for message in messages %}
            <p style="color: green;"> {{message}} </p>
          {% endfor %}
        {% endif %}
    </header>

    <div class="card">
        <form method="POST" action="">
          {% csrf_token %}
          <input type="text" placeholder="Add a new task" required name="task"/>
          <button type="submit">Add</button>
        </form>

        <a href="{% url 'logout' %}">
            <button style="background-color: black; color:white">Logout</button>
        </a>
      <table>
        <thead>
          <tr>
            <th style="color: whitesmoke;">Task name</th>
            <th style="color: whitesmoke;">Status</th>
            <th style="color: whitesmoke;">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in todos %}
                <tr>
                    <td>{{ i.task_name }}</td>
                    <td>
                        {% if i.status %}
                            completed
                        {% else %}
                            In Progerss
                        {% endif %}
                    </td>

                    <td>
                        <a href="{% url 'Delete' i.id %}">
                            <button class="del" type="submit">Delete</button>
                        </a>

                        <a href="{% url 'Update' i.id %}">
                            <button type="submit" class="upd">Update</button>
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>