body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;

}

header h1 {
  text-align: center;
  color: #4070f4;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4070f4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #4070f8;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #0044ff;
} 

.status.done {
  color: green;
  font-weight: bold;
}

.status.pending {
  color: orange;
  font-weight: bold;
}

.actions button {
  margin: 0 5px;
}

tbody .del{
  background-color: red;
  color: whitesmoke;
  font-weight: bold;
  margin: 12px 12px;
}
tbody .upd{
  background-color: green;
  color: whitesmoke;
  font-weight: bold;
  margin: 12px 12px;
}